/*!
 * Colorful_Kmom04.
 *
 * This stylesheet is for the design course and kmom04 where we use LESS.
 */


@import "kmom04.less";

@backgroundColor: #43877B;
@textColor: #333;
//@fontFamilyHeadings: monospace;
//@fontFamilyBody:  monospace;

body {
    background-color: #053C5C;
    color:  @textColor;
}

.inner-wrap-footer {
    color: #fff;
    background-color: #333;
}

.inner-wrap {
    //background-color: #fff;
}

.inner-wrap-header {
    color: #fff;
    background-color: #912100;
}

.inner-wrap-main {
    background-color: #fff;
}

.outer-wrap-footer,
.inner-wrap-footer {
    color: #333;
    background-color: #729C34;
}
