/*!
 * Dark_Kmom04.
 *
 * This stylesheet is for the design course and kmom04 where we use LESS.
 */


@import "kmom04.less";

@backgroundColor: #333;
@textColor: #2ecc40;
@fontFamilyHeadings: monospace;
@fontFamilyBody:  monospace;

body {
    background-color: @backgroundColor;
    color:  #fff;
}

.inner-wrap {
    background-color: #333;
}


.outer-wrap-footer,
.inner-wrap-footer {
    color: @textColor;
    background-color: #000000;
}

.inner-wrap-header {
    color: @textColor;
    background-color: #000000;
}


.inner-wrap-main {
    background-color: #000000;
}
